<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="smsto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
            <intent><action android:name="android.intent.action.SET_ALARM" /></intent>
        <intent><action android:name="android.intent.action.SET_TIMER" /></intent>
        <intent><action android:name="android.intent.action.SHOW_ALARMS" /></intent>
        <intent><action android:name="android.settings.SETTINGS" /></intent>
        <intent><action android:name="android.settings.WIFI_SETTINGS" /></intent>
        <intent><action android:name="android.settings.BLUETOOTH_SETTINGS" /></intent>
        <intent><action android:name="android.settings.DISPLAY_SETTINGS" /></intent>
        <intent><action android:name="android.settings.SOUND_SETTINGS" /></intent>
        <intent><action android:name="android.settings.ALL_APPS_NOTIFICATION_SETTINGS" /></intent>
        <intent><action android:name="android.settings.LOCATION_SOURCE_SETTINGS" /></intent>
        <intent><action android:name="android.settings.BATTERY_SAVER_SETTINGS" /></intent>
        <intent><action android:name="android.settings.INTERNAL_STORAGE_SETTINGS" /></intent>
        <intent><action android:name="android.settings.DATE_SETTINGS" /></intent>
        <intent><action android:name="android.settings.APPLICATION_SETTINGS" /></intent>
        <intent><action android:name="android.settings.APPLICATION_DETAILS_SETTINGS" /></intent>
        <intent><action android:name="android.settings.APP_NOTIFICATION_SETTINGS" /></intent>
        <intent><action android:name="android.settings.ACCESSIBILITY_SETTINGS" /></intent>
        <intent><action android:name="android.settings.LOCALE_SETTINGS" /></intent>
        <intent><action android:name="android.settings.INPUT_METHOD_SETTINGS" /></intent>
        <intent><action android:name="android.settings.WIRELESS_SETTINGS" /></intent>
    </queries>

    <application
        android:name=".AgentApplication"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="false"
        android:supportsRtl="true"
        android:theme="@style/Theme.GemmaAgent">
        <service android:name=".phone.PhoneAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true" android:label="@string/app_name">
            <intent-filter><action android:name="android.accessibilityservice.AccessibilityService" /></intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/phone_accessibility_service" />
        </service>
        <activity android:name=".PlaygroundActivity" android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
