<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission android:name="dev.ondevice.gemma.app.RUN_OFFLINE_FIXTURE" android:protectionLevel="signature" />
    <application>
        <activity android:name=".ToolsFixtureActivity" android:exported="true"
            android:permission="dev.ondevice.gemma.app.RUN_OFFLINE_FIXTURE" />
    </application>
</manifest>
